@import "tailwindcss";
@plugin "daisyui";
https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css
* {
  font-family: "Inter", sans-serif;
  
  font-style: normal;
}

.inter{
     font-family: "Inter", sans-serif;
  
  font-style: normal;
}